{% extends 'base.html' %}

{% block content %}

    <!--Ici On pose une condition pour effecuter la différence entre les vues client_create et client_edit-->
    <h2>
        
        {% if form.instance.id %}
            Modifier Le Client
        {% else %}
            Ajouter un Client
        {% endif %}
            
    </h2>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}

        <button class="btn btn-success">
                
                {% if form.instance.id %}
                    Mettre à Jour
                {% else %}
                    Enregistrer
                {% endif %}
                    
        </button>
    </form>

{% endblock  %}