{% extends 'base.html' %}

{% block content %}
    <h2>Clients</h2>

    <a class="btn btn-primary mb-3" href="{% url 'client_create' %}">
        Ajouter un Client
    </a>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            
            {% for client in clients %}
                <tr>
                    <td>{{client.name}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.phone}}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" 
                            href="{% url 'client_edit' client.id %}">
                            Edit
                        </a>

                        <a class="btn btn-sm btn-danger" 
                            href="{% url 'client_delete' client.id %}">
                            Delete
                        </a>
                    </td>
                </tr>
                
            {% endfor %}
                
        </tbody>

    </table>

{% endblock  %}