# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage / tests
.coverage
htmlcov/

# Python packaging
build/
dist/
*.egg-info/