{% extends 'base.html' %}

{% block content %}
    <h2>Dashboard</h2>

    <div class="row">

        <div class="col-md-3">

            <div class="card text-center">

                <div class="card-body">
                    <h5>Clients</h5>

                    <h3>{{clients_count}}</h3>
                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-center">

                <div class="card-body">
                    <h5>Produits</h5>

                    <h3>{{products_count}}</h3>
                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-center">

                <div class="card-body">
                    <h5>Commandes</h5>

                    <h3>{{orders_count}}</h3>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-center">

                <div class="card-body">
                    <h5>Revenue</h5>

                    <h3>{{total_revenue}}</h3>

                </div>

            </div>

        </div>

    </div>

{% endblock  %}