{% extends 'base.html' %}

{% block content %}
    <h2>Dashboard</h2>

    <div class="row">

        <div class="col-md-3">

            <div class="card text-center">

                <div class="card-body">
                    <h5>Clients</h5>

                    <h3>{{clients_count}}</h3>
                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-center" style="background-color: rgba(255, 159, 64, 0.5); color: #000;">

                <div class="card-body">
                    <h5>Produits</h5>

                    <h3>{{products_count}}</h3>
                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-center" style="background-color: rgba(128, 0, 128, 0.5); color: #fff;">

                <div class="card-body">
                    <h5>Commandes</h5>

                    <h3>{{orders_count}}</h3>

                </div>

            </div>

        </div>


        <div class="col-md-3">

            <div class="card text-center" style="background-color: rgba(54, 162, 235, 0.5); color: #fff;">

                <div class="card-body">
                    <h5>Revenue</h5>

                    <h3>{{total_revenue}}</h3>

                </div>

            </div>

        </div>

    </div>


    <!-- Graphique -->
    <div class="row mt-5">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">

                    <h4>Revenus par mois</h4>

                    <canvas id="revenueChart" height="50"></canvas>

                </div>
            </div>

        </div>
    </div>



    <!--le nombre de commandes par mois-->
    <div class="row mt-5">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">

                    <h4>Nombre de commandes par mois</h4>

                    <canvas id="ordersChart" height="50"></canvas>

                </div>
            </div>

        </div>
    </div>


    <!--le top des produits-->
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4>Top 5 produits vendus</h4>
                    <canvas id="topProductsChart" height="50"></canvas>
                </div>
            </div>
        </div>
    </div>





    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        /*Revenue par mois*/
        fetch("/dashboard/stats/orders/")

                                    .then(response => response.json())

                                    .then(data => {

                                    const ctx = document
                                    
                                    .getElementById("revenueChart")
                                    
                                    .getContext("2d");

        new Chart(ctx, {

                        type: "bar",

                        data: {

                                labels: data.labels,

                                datasets: [

                                    {
                                    label: "Revenue",

                                    data: data.data,

                                    backgroundColor: "rgba(54, 162, 235, 0.5)"

                                    }

                                ]

                            }

        });

        });



        /*le nombre de commandes par mois*/
        fetch("/dashboard/stats/orders-count/")
                            .then(response=>response.json())
                            .then(data=>{

                                const labels= data.map(item=>item.month.substring(0,7));
                                const values=data.map(item=>item.total);

                                const ctx=document.getElementById("ordersChart").getContext("2d");

                                new Chart(ctx, {
                                    type:"line",
                                    data:{
                                        labels:labels,
                                        datasets:[
                                            {
                                                label:"Commandes",
                                                data:values,
                                                borderWidth:2,
                                                backgroundColor: "rgba(128, 0, 128, 0.5)",   // violet clair
                                                borderColor: "rgba(128, 0, 128, 1)" 

                                            }
                                        ]
                                    }
                                });
                            });
        

        /*le nombre de commandes par mois*/
        fetch("/dashboard/stats/top-products/")
            .then(response => response.json())
            .then(data => {

                const ctx = document.getElementById("topProductsChart").getContext("2d");

                new Chart(ctx, {
                type: "bar",
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: "Quantité vendue",
                        data: data.data,
                        backgroundColor: "rgba(255, 159, 64, 0.5)",
                        borderColor: "rgba(255, 159, 64, 1)",
                        borderWidth: 1
                    }]
                },
                options: {
                    indexAxis: 'y', // ✅ barre horizontale
                    responsive: true,
                    plugins: {
                        legend: {
                        display: true,
                        position: "top"
                                },
                    title: {
                    display: false
                        }
                    }
                }
            });

            });
                
    </script>

{% endblock  %}