{% extends "base.html" %}

{% block content %}
    <h2>
        
        {% if form.instance.id %}
            Modifier le Produit
        {% else %}
            Ajouter Le Produit
        {% endif %} 
            
    </h2>

    <!-- Ajout de enctype pour l'image -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        <!-- Affichage de l'image existante si elle existe -->
        
        {% if form.instance.image %}
            <p>Image Actuelle</p>
            <img src="{{form.instance.image.url}}"  width="100" alt="{{ form.instance.name }}">
            
        {% endif %}
            

        
        <button class="btn btn-success">

            
            {% if form.instance.id %}
                Mettre à jour
            {% else %}
                Enregistrer
            {% endif %} 
                
        </button>
    </form>
{% endblock %}