{% extends 'base.html' %}

{% block content %}
    <h2>Products</h2>

    <a class="btn btn-primary mb-3" href="{% url 'products_create' %}">
        Ajouter un Produit
    </a>

    <table class="table table-striped">

        <thead>
            <tr>

                <th>Nom</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

            
            {% for product in products  %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.stock}}</td>
                    <td>

                        <a class="btn btn-sm btn-warning" 
                            href="{% url 'products_edit' product.id %}">
                            Edit
                        </a>

                        <a class="btn btn-sm btn-danger" 
                            href="{% url 'products_delete' product.id %}">
                            Delete
                        </a>

                    </td>
                    
                </tr>
            {% endfor %}
                
        </tbody>

    </table>
{% endblock  %}